@import "compass/css3";

@font-face {
  font-family: 'BMKIRANGHAERANG';
  src:  url('BMKIRANGHAERANG-TTF.ttf') format('ttf');
  
  font-family: 'DIN';
  src:  url('DIN 30640 Std Neuzeit Grotesk Bold Cond.otf') format('otf');
}

body{
  width:100%;
  margin:0;
  background: black;
  font-family: BMKIRANGHAERANG, sans-serif;
}

.info {
  color: white;
  text-align: center;
}

.info a{
  color: white;
}

svg{
  width: 600px;
  height: 120px;
  display: block-inline;
  position: relative;
  overflow: hidden; 
  margin: 0;
  background: black;
}

element.style{
	background-color:rgb(0,0,0);
}

.flex-container {
  width:100%;
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  width: 100%;
  height: 100%;
  margin-top:10px;
  margin-bottom:30px;
  text-align: center;
  line-height:30px;
  font-size: 100px;
}

.button {
  border:0px 0px 0px 0px;
  border-color: black;
  padding:0px 0px 0px 0px;
  cursor: pointer;
}

.button:hover{
  background-color:darkred;
}


#content {
  padding-top:50px; 
  padding-bottom:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content > div{
  width:100%;
  padding-bottom:100px;
  background-repeat:pre;
}


